@charset "UTF-8";
/* CSS Document */

@media (max-width: 1500px) {
  
  svg{
	  padding:90px 20px;
  }
  
  .row.mainimg {
    height: 500px;
   }
  
}


@media (max-width: 1390px) {
  
  svg{
	  padding:70px 20px;
  }
  
  .row.mainimg {
    height: 420px;
	}
  
}


@media (max-width: 1390px) {
  
  svg{
	  padding:40px 20px;
  }
  
  .row.mainimg {
    height: 360px;
	}
  
}

@media (max-width: 1089px) {
  
  svg{
	  padding:30px;
	  display:block;
	  margin:auto;
	  position:relative;
	  left:-13%;
	  width:131%;
  }
  
  .row.mainimg {
    height: 360px;
	}
  
}


@media (max-width: 860px) {
  
  svg{
	  padding:60px 0;
	  display:block;
  }

}


@media (max-width: 580px) {
  
  .row.mainimg {
    height: 310px;
	}

}


@media (max-width: 520px) {
  
  .service {
    float: none;
	margin:10px 0;
}

}

@media (max-width: 430px) {
  
  .team{
	  
	  width:290px;
	  padding:0;
  }
  
  .team-big{
	  width:290px;
	  height:290px;
  }

}

